{% extends "baseSig.html" %}
{% load i18n %}

{% block content %}
<div class="container">
<p class='lead'>{% trans "Sesión terminada." %}</p>

<p><a href="{% url 'music:index' %}">Entrar</a></p></p>
</div>


{% endblock %}
