{% extends "baseSig.html" %}
{% load i18n %}

{% block content %}

<p>{% trans "Contraseña ha sido restablecida correctamente." %}</p>

<p><a href="{% url 'auth_login' %}">{% trans "Iniciar sesión" %}</a></p>

{% endblock %}
