{% extends "baseSig.html" %}
{% load i18n %}

{% block content %}
<div class="container">
	<p class='lead'>{% trans "En estos momentos no se puede registrar. El sistema temporalmente no está disponible." %}</p>
</div>
{% endblock %}
