{% extends "baseSig.html" %}
{% load i18n %}

{% block content %}
<div class="container">
<p class='lead'>{% trans "Te has registrado correctamente. Un email con un enlace para activar tu cuenta te ha sido enviado." %}</p>
</div>
{% endblock %}
