{% extends "music/signup.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container" style="margin-bottom: 100px;">
<div class='row'>
<div class='col-sm-6 col-sm-offset-3'>
<form method="post" action=".">
  {% csrf_token %}
  {{ form|crispy }}
  <input class='btn btn-block btn-primary' type="submit" value="{% trans 'Registrarme' %}" />
</form>

</div>
</div>
</div>


{% endblock %}
