{% extends "base.html" %}
{% block title %}Biografia{% endblock %}
{% load staticfiles %}
{% block content %}


{% for album in albums  %}
{% for song in album.song_set.all %}
<Audio id="{{ song.audio_file.url }}" ontimeupdate="timeFunct('{{ song.audio_file.url }}')" preload="none">
  <source src="{{ song.audio_file.url }}" type="audio/mp3">
</Audio>
{% endfor %}
{% endfor %}

  <!--AQUI COMIENZA-->
  <dir class="container" style="margin-bottom: 140px;">
    <div class="jumbotron">
      <img src="{{user.ImageUser.url}}" class="img-circle" style="min-width: 170px; max-width: 170px; max-height: 170px; min-height: 170px; float: left; margin-right: 50px;">
        <h2><span class="label label-default">@{{username}}</span></h2> <!--nombre de usuario-->
        <p class="text-muted">{{user.description}}<br><br><br></p>
    </div>

      <!--SEPARADOR-->
  <ul class="nav nav-tabs" style="background-color: #eee;">
    <li class="active"><a data-toggle="tab" href="#home">Discografia <span class="badge">{{lalbums}}</span></a></li>
    <li><a data-toggle="tab" href="#menu1">Canciones <span class="badge">{{lsongs}}</span></a></a></li>
    <li><a data-toggle="tab" href="#menu2">Comentarios</a></li>
  </ul>

  <div class="tab-content">

    <div id="home" class="tab-pane fade in active"><!--tab-pane fade in active-->
      <br>
      <br>
      <div class="container">
        <div class="row">
          {% for album in albums %}
          <a href="{% url 'music:detail' album.id %}" style="display: inline;">
            <div class="col-xs-6 col-sm-4 col-lg-2 placeholder">
              <img class="img-responsive img-rounded" src="{{ album.album_logo.url }}"
              style="min-width: 150px; max-width: 150px; max-height: 150px; min-height: 150px;">
                <span class="optionsBar">
                  {# funcion para favoritear #}
                  <a href="{% url 'music:favorite_album' album.id %}" role="button" style="text-decoration: none;">
                    <button id="heart" class="btn btn-default glyphicon {% if album.is_favorite %}glyphicon-heart{% else %}glyphicon-heart-empty{% endif %}" style="margin-left: 4px;"></button>
                  </a>
                  {% if album.user == user %}
                      {# funcion para eliminar los albums #}
                  <form action="{% url 'music:album-delete' album.id %}" method="post" style="display: inline;">
                      {% csrf_token %}
                      <input type="hidden" name="album_id" value="{{ album.id }}"/>
                        <button type="submit" id="trash" class="btn btn-default glyphicon glyphicon-trash"></button>
                  </form>

                  {% endif %}

                  {# funcion para entrar en los detalles del album#}
                  <a href="{% url 'music:detail' album.id %}" style="text-decoration: none">
                      <button id="option" class="btn btn-default glyphicon glyphicon-option-horizontal"></button>
                  </a>
                </span>
            </div>
          </a>
          {% endfor %}
        </div>
    </div>
    </div>


    <div id="menu1" class="tab-pane fade">
          <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <h3>Canciones</h3>
            </div>
          <div class="col-sm-12">
            <div class="panel panel-default">
              <div class="panel-body">
                <table class="table">
                  <thead>
                    <tr>
                    <th> </th>
                    <th>Título</th>
                    <th>Artista</th>
                    <th>Álbum</th>
                    <th>Favorito</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for album in albums  %}
                  {% for song in album.song_set.all %}
                    <tr>
                    <td>
                    <button id="list_play" type="button" class="btn btn-link btn-xs" style="text-decoration: none;" onclick="play_funct_aux('{{ song.audio_file.url }}', '{{ album.album_logo.url }}', '{% static 'img/album.png' %}', '{{ song.song_title }}', '{{ song.album.artist }}', '{{ song.album.album_title }}')">
                      <span class="glyphicon glyphicon-play" style="color: #222;"></span>
                    </button>
                    </td>

                    <td>{{ song.song_title }}</td>
                    <td>{{ song.album.artist }}</td>
                    
                    <td>
                    <a href="{% url 'music:detail' song.album.id %}">{{ song.album.album_title }}</a>
                      </td>
                      <td>
                    <a href="{% url 'music:favorite' song.id %}" class="btn-favorite"><span class="glyphicon {% if song.is_favority %}glyphicon-heart{% else %}glyphicon-heart-empty{% endif %}" style="color:  #222;"></span></a>
                    </td>
                    </tr>
                  {% endfor %}
                {% endfor %}
                </tbody>
                </table>
              </div>
            </div>
          </div>
          </div>
          </div>
    </div>


    <div id="menu2" class="tab-pane fade">
      <br>
      <p>
        {% for coment in comments %}
          <input class="form-control" type="text" placeholder="{{coment.content}}" disabled /><br>
        {% endfor %}
        <textarea class="form-control" rows="3" placeholder="Comentario"></textarea><br>
        <a class="btn btn-md btn-primary" href="#" role="button" style="float: right">Publicar <span class="glyphicon glyphicon-send" aria-hidden="true"></span></a>
      </p><br>
    </div>


  </div>
    <hr>
      <a class="btn btn-md btn-default" href="#" role="button" style="float: right">Modificar perfil <span class="glyphicon glyphicon-cog" aria-hidden="true" style="color: #000;"></span></a>
  </dir>

  <!--AQUI TERMINA-->


{% endblock %}
