body{
	/*
	https://www.pexels.com/photo/man-playing-a-keyboard-with-a-tablet-attached-on-a-stage-115125/*/
    background: url(../img/font.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

a{
	color: #ffffff;
}

img{
	max-width: 200px;
}

.footer-distributed{
	background-color: rgba(64, 64, 64, .5);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: normal 14px sans-serif;
	margin-top: 80px;
	margin-bottom: 0px;
	color: #ffffff;
	position: fixed; 
	bottom: 0;
}


.footer-distributed .footer-left p{
	color:  #8f9296;
	font-size: 14px;
	margin: 0;
}

/* Footer links */

.footer-distributed p.footer-links{
	font-size:18px;
	font-weight: bold;
	color:  #ffffff;
	margin: 0 0 10px;
	padding: 0;
}

.footer-distributed p.footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-right{
	float: right;
	margin-top: 6px;
	max-width: 180px;
}

.footer-distributed .footer-right a{
	display: inline-block;
	width: 35px;
	height: 35px;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-left: 3px;
}


@media (max-width: 600px){

	img{
		max-width: 150px;
	}

	.footer-distributed{
		margin-bottom: 0px;
		bottom: 0;
		position: relative;
		padding: 8px;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-right{
		text-align: center;
	}

	.footer-distributed .footer-right{
		float: none;
		margin: 0 auto 20px;
	}

	.footer-distributed .footer-left p.footer-links{
		line-height: 1.8;
	}
}
