button{
	margin-left: 7px;
}

span{
	font-size: 25px;
	color: #fff;
}

.popover  {
	background: #222 !important;
	color: #fff;
}

.footer-distributed{
	background-color: #222;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: normal 16px sans-serif;
	bottom: 0;
	padding: 5px 50px; 
	position: fixed;
	opacity: 0.9;
}

.footer-distributed .footer-left p{
	color:  #8f9296;
	font-size: 14px;
	margin: 0;
}

/* Footer links */

.footer-distributed p.footer-links{
	font-size:18px;
	font-weight: bold;
	color:  #ffffff;
	margin: 0 0 10px;
	padding: 0;
}

.footer-distributed p.footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-right{
	float: right;
	margin-top: 6px;
	max-width: 180px;
}

.footer-distributed .footer-right a{
	display: inline-block;
	width: 35px;
	height: 35px;
	background-color:  #33383b;
	border-radius: 2px;
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
	margin-left: 3px;
}

.col-xs-6.col-sm-4.col-lg-2.placeholder{
	margin-bottom: 20px;
}

.btn.btn-default.glyphicon.glyphicon-heart-empty, 
.btn.btn-default.glyphicon.glyphicon-heart,
.btn.btn-default.glyphicon.glyphicon-trash, 
.btn.btn-default.glyphicon.glyphicon-option-horizontal{
	display: inline;
	color: #fff;
	border-radius: 100%;
	border-color: #33383b;
	background-color: #33383b;
	position: relative;
	margin-top: -75px;
}

.optionsBar{
	opacity: 0.0;
	float: left;
	/*margin-top: -45px;*/
}

.col-xs-6.col-sm-4.col-lg-2.placeholder:hover > .optionsBar{
	display: inline;
    opacity: 1;
}

.col-xs-6.col-sm-4.col-lg-2.placeholder:hover > .img-responsive.img-rounded{
	opacity: 0.8;
}

.btn.btn-default.glyphicon.glyphicon-heart-empty:hover{
	color: #33383b; 
	border-color: #fff;
	background-color: #fff;
}
.btn.btn-default.glyphicon.glyphicon-heart:hover{
	color: #33383b; 
	border-color: #fff;
	background-color: #fff;
}
.btn.btn-default.glyphicon.glyphicon-trash:hover{
	color: #33383b; 
	border-color: #fff;
	background-color: #fff;
}
.btn.btn-default.glyphicon.glyphicon-option-horizontal:hover{
	color: #33383b; 
	border-color: #fff;
	background-color: #fff;
}


@media (max-width: 600px) {

	.footer-distributed{
		padding: 10px 50px;
	}

	.footer-distributed .footer-left{
		float: left;
		margin-left: -60px;
	}

	#backwardBtn, #media_button, #forwardBtn{
		margin-top: 20px;
		display: inline;
		float: center;
		margin-left: -5px;
	}

	#vol_btn{
		margin-top: 20px;
		display: inline;
		float: right;
		margin-right: -40px;
	}

	#tracktime, #tracktimeOrigin{
		display: none;
	}

	.footer-distributed .footer-left p.footer-links{
		line-height: 1.8;
	}
}

