input[type=range]{
    -webkit-appearance: none;
    margin-left: 7px;
    margin-right: 7px;
    display: inline;
    background: #222;
    
}

input[type=range]::-webkit-slider-runnable-track {
    height: 7px;
    background: #777;
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background: #fff;
    margin-top: -4px;
}

#slider_time{
    width: 50%;
}

@media (max-width: 600px){
	#slider_time{
		position: absolute;
        float: left;
        width: 99%;
		margin-top: -74px;
		margin-left: -63px;
	}
}