{% extends "base.html" %}
{% block title %}Agregar nuevo álbum{% endblock %}
{% block albums_active %}active{% endblock %}
{% block content %}

<div class="container" style="margin-bottom: 150px;">
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-7">
      <div class="panel panel-default">
        <div class="panel-body">
          <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% include "music/form-template.html" %}
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button type="submi" class="btn btn-success">Subir</button>
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}
