{% extends "base.html" %}
{% block content %}  
  <div class="container" style="margin-bottom: 150px;">
  <div class='row'>
<div class='col-sm-6 col-sm-offset-1'>
      <form>
        <div class="form-group">
          <label for="inputArtist">Nombre de usuario</label>
          <input type="text" class="form-control" id="inputArtist" maxlength="60" required>
        </div>
        <div class="form-group">
          <label for="albumTitle">Correo electrónico</label>
          <input type="text" class="form-control" id="albumTitle" maxlength="60" required>
        </div>
        <div class="form-group">
          <label for="actualPass" class="text-muted">Contraseña actual</label>
          <input type="password" class="form-control" id="actualPass" maxlength="60" required>
        </div>
        <div class="form-group">
          <label for="newPass" class="text-muted">Nueva contraseña</label>
          <input type="password" class="form-control" id="newPass" maxlength="60" required>
        </div>
        <div class="form-group">
          <label for="confirmPass" class="text-muted">Confirmar contraseña</label>
          <input type="password" class="form-control" id="confirmPass" maxlength="60" required>
        </div>
        <button class="btn btn-lg btn-primary" type="submit">Guardar cambios</button>
      </form>
    </div>
    </div>
    </div>
{% endblock %}
