{% extends 'base.html' %}
{% block title %}Add a New Song{% endblock %}
{% block albums_active %}active{% endblock %}

{% block content %}
<div class="container" style="margin-bottom: 150px;">

    <div class="row">

        <!-- Left Album Info -->
        <div class="col-sm-4 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                        <a href="{% url 'music:detail' album.id %}">
                            {% if album.album_logo %}
                            <center>
                              <img src="{{ album.album_logo.url }}" class="img-responsive"
                              style="min-width: 220px; max-width: 220px; max-height: 220px; min-height: 220px;">
                              </center>
                            {% else %}
                                <h3>No image to display</h3>
                            {% endif %}
                        </a>
                    <h2>{{ album.album_title }} <small>{{ album.genre }}</small></h1>
                    <h3>{{ album.artist }}</h2>
                </div>
            </div>
        </div>

        <!-- Right Song Info -->
        <div class="col-sm-8 col-md-9">

            <ul class="nav nav-pills" style="margin-bottom: 10px;">
                <li role="presentation"><a href="{% url 'music:detail' album.id %}">Visualizar todo</a></li>
                <li role="presentation" class="active"><a href="{% url 'music:create_song' album.id %}">Agregar nueva canción</a></li>
            </ul>

            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Agregar nueva canción</h3>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" name="album" value="{{ album }}">

                        {% for field in form  %}
                          <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                              <samp class="text-danger small">{{ field.errors }}</samp>
                            </div>
                            <label class="control-label col-sm-2">{{ field.label_tag }}</label><!--{{ field.label_tag }}-->
                            <div class="col-sm-10">{{ field }}</div>
                          </div>
                        {% endfor %}


                        {# {% include 'form_template.html' %}#}

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">Subir</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>

    </div>

</div>

{% endblock %}
