{% extends "base.html" %}
{% block title %}Detalles de álbum{% endblock %}
{% block songF %}active{% endblock %}
{% load staticfiles %}
{% block content %}

{% for song in album.song_set.all %}
<Audio id="{{ song.audio_file.url }}" ontimeupdate="timeFunct('{{ song.audio_file.url }}')" preload="none">
  <source src="{{ song.audio_file.url }}" type="audio/mp3">
</Audio>
{% endfor %}

<div class="container" style="margin-bottom: 150px;">
<div class="row">

      <!-- Left Album Info -->
  <div class="col-sm-4 col-md-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <a href="#">
          {% if album.album_logo %}
          <center>
            <img src="{{ album.album_logo.url }}" class="img-responsive"
            style="min-width: 220px; max-width: 220px; max-height: 220px; min-height: 220px;">
            </center>
          {% else %}
            <h3>No hay imagen pra mostrar</h3>
          {% endif %}
        </a>
        <h2>{{ album.album_title }}  <small>{{ album.genre }}</small></h2>
        <h3>{{ album.artist }}</h3>
      </div>
    </div>
  </div>

      <!-- Right Song Info -->
  <div class="col-sm-8 col-md-9">
    <ul class="nav nav-pills" style="margin-bottom: 10px;">
      <li role="presentation" class="active"><a href="{% url 'music:detail' album.id %}">Visualizar todo</a></li>
      {% if user == album.user %}

        <li role="presentation"><a href="{% url 'music:create_song' album.id %}">Agregar nueva canción</a></li>

      {% endif %}
    </ul>

    <div class="panel panel-default">
      <div class="panel-body">
        <h3>Lista de reproducción</h3>
        {% if error_message %}
          <p><strong>{{ error_message }}</strong></p>
        {% endif %}
        <table class="table">
          <thead>
            <tr>
              <th> </th>
              <th>Título</th>
              <th>Favorito</th>
              {% if user == album.user %}
              <th>Eliminar</th>
              {% endif %}
            </tr>
          </thead>
          <tbody>
            {% for song in album.song_set.all %}
              <tr>
                <td>
                    <button id="list_play" type="button" class="btn btn-link btn-xs" style="text-decoration: none;" onclick="play_funct_aux('{{ song.audio_file.url }}', '{{ album.album_logo.url }}', '{% static 'img/album.png' %}', '{{ song.song_title }}', '{{ song.album.artist }}', '{{ song.album.album_title }}')">
                      <span class="glyphicon glyphicon-play" style="color: #222;"></span>
                    </button>
                </td>
                <td>{{ song.song_title }}</td>
                <td>
                  <a href="{% url 'music:favorite' song.id %}" class="btn-favorite"><span class="glyphicon {% if song.is_favority %}glyphicon-heart{% else %}glyphicon-heart-empty{% endif %}" style="color:  #222;"></span></a>
                </td>
                <td>
                  {% if user == album.user %}
                  <form action="{% url 'music:song-delete' album.id %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <input type="hidden" name="song_id" value="{{ song.id }}" />
                    <button type="submit" class="btn btn-link btn-xs" >
                        <span class="glyphicon glyphicon-trash" style="color: #8A0808;"></span>
                    </button>
                  </form>
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</div>

{% endblock %}
