{% extends "base.html" %}
{% block cdF %}active{% endblock %}
{% load staticfiles %}
{% block content %}
{% comment %}
  Album visulitation
{% endcomment %}

{% for song in songs %}
<Audio id="{{ song.audio_file.url }}" ontimeupdate="timeFunct('{{ song.audio_file.url }}')" preload="none">
  <source src="{{ song.audio_file.url }}" type="audio/mp3">
</Audio>
{% endfor %}

<div class="container" style="margin-bottom: 140px;">
  <!--{% if songs %} <h3>Álbumes</h3> {% endif %}-->
  <!--{% if albums%} <h3>Álbumes</h3>{% endif %}-->
    <div class="row">
      {% for album in albums %}
        <a href="{% url 'music:detail' album.id %}" style="display: inline;">
          <div class="col-xs-6 col-sm-4 col-lg-2 placeholder">
            <img class="img-responsive img-rounded" src="{{ album.album_logo.url }}"
            style="min-width: 150px; max-width: 150px; max-height: 150px; min-height: 150px;"/>
              <span class="optionsBar">
                {# funcion para favoritear #}
                <a href="{% url 'music:favorite_album' album.id %}" role="button" style="text-decoration: none;">
                  <button id="heart" class="btn btn-default glyphicon {% if album.is_favorite %}glyphicon-heart{% else %}glyphicon-heart-empty{% endif %}" style="margin-left: 4px;"></button>
                </a>
                {% if album.user == user %}
                    {# funcion para eliminar los albums #}
                <form action="{% url 'music:album-delete' album.id %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <input type="hidden" name="album_id" value="{{ album.id }}"/>
                      <button type="submit" id="trash" class="btn btn-default glyphicon glyphicon-trash"></button>
                </form>

                {% endif %}

                {# funcion para entrar en los detalles del album#}
                <a href="{% url 'music:detail' album.id %}" style="text-decoration: none">
                    <button id="option" class="btn btn-default glyphicon glyphicon-option-horizontal"></button>
                </a>
              </span>
          </div>
      </a>
      
    {% endfor %}
  </div>
  {% if songs %}
<div class="row">
  <!--<div class="col-sm-12">
    <h3>Resultados</h3>
  </div>-->
<div class="col-sm-12">
  <div class="panel panel-default">
    <div class="panel-body">
      <table class="table">
        <thead>
          <tr>
          <th></th>
          <th>Titulo</th>
          <th>Artista</th>
          <th>Album</th>
          <th>Favorito</th>
          </tr>
        </thead>
        <tbody>
        {% for song in songs %}
          <tr>
          <td>
          <button id="list_play" type="button" class="btn btn-link btn-xs" style="text-decoration: none;" onclick="play_funct_aux('{{ song.audio_file.url }}', '{{ song.album.album_logo.url }}', '{% static 'img/album.png' %}', '{{ song.song_title }}', '{{ song.album.artist }}', '{{ song.album.album_title }}')">
            <span class="glyphicon glyphicon-play" style="color: #222;"></span>
          </button>
          </td>
          <td>{{ song.song_title }}</td>
          <td>{{ song.album.artist }}</td>
          <td>
          <a href="{% url 'music:detail' song.album.id %}">{{ song.album.album_title }}</a>
            </td>
            <td>
          <a href="{% url 'music:favorite' song.id %}" class="btn-favorite"><span class="glyphicon {% if song.is_favority %}glyphicon-heart{% else %}glyphicon-heart-empty{% endif %}" style="color:  #222;"></span></a>
          {# <a href="{% url 'music:favorite' song.id %}" class="btn-favorite"><span class="glyphicon glyphicon-star {% if song.is_favorite %}active{% endif %}"></span></a>#}
          </td>
          </tr>
        {% endfor %}
      </tbody>
      </table>
    </div>
  </div>
</div>
</div>
{% endif %}
</div>



{% endblock %}
