{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Music on cloud, streaming, online, cloud, música, nube, escuchar, reproducir, digital, álbum, artista, canción">
    <meta name="description" content="Music on cloud es una plataforma el cual le permite a cualquier usuario distribuir, cooperar y/o promover bocetos musicales propios. Teniendo como prioridad su libre distribución y reproducción de estos mismos vía streming.">
    <meta name="author" content="Music on cloud">
    <link rel="icon" href="{% static "img/icon.ico" %}">

    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "font-awesome-4.7.0/css/font-awesome.min.css" %}" rel="stylesheet">
    <link href="{% static "css/footer-distributed.css"%}" rel="stylesheet">
    <link href="{% static "css/sign.css"%}" rel="stylesheet">

    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/pops.js" %}"></script>

    <title>Music on cloud</title>

  </head>

  <body>

  <center>
      <img src="{% static "img/logo.png" %}" data-toggle="tooltip" title="Hecho con todo el amor del mundo." data-placement="bottom">
      <h2 class="form-signin-heading" style="color: #fff; ">¡Comparte tus bocetos musicales!</h2>
  </center>

  <div class="container" style="margin-bottom: 100px;">
        <form class="form-signin" method="POST" autocomplete="off" action="{% url "auth_login" %}">{% csrf_token %}
        <input type="text" id="inputUser" class="form-control" name="username" placeholder="Usuario" maxlength="50" required autofocus>
        <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Contraseña" maxlength="50" required>
        <center><a href="{% url 'auth_password_reset' %}">¿Olvidaste tu contraseña?</a></center>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button><br>
      <p style="color: #fff">¿Aún no tienes cuenta? Regístrate <b><a href="{% url 'registration_register' %}" style="font-size: 18px">¡aquí!</a></b></p>
  		</form>
   </div>



  <footer class="footer-distributed">
      <div class="container" >
        <p class="pull-right">
        <br>
      <a class="btn btn-social-icon btn-xs btn-twitter" href="#" title="Twitter"><span class="fa fa-twitter" style="font-size: 25px;"></span></a>
      <a class="btn btn-social-icon btn-xs btn-vimeo" href="#" title="Vimeo"><span class="fa fa-vimeo" style="font-size: 25px;"></span></a>
      <a class="btn btn-social-icon btn-xs btn-gitlab" href="https://gitlab.com/Technovasoft/Django-Music" title="Gitlab"><span class="fa fa-gitlab" style="font-size: 25px;"></span></a>
        <p><br>&copy; 2017 Music on cloud &middot; <a href="{% url 'license' %}">Licencia</a> &middot; <a href="{% url 'privacy' %}">Política de privacidad</a> &middot; <a href="{% url 'help' %}">Ayuda</a></p>
      </div>
    </footer>


  </body>
</html>
