{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Music on cloud, streaming, online, cloud, música, nube, escuchar, reproducir, digital, álbum, artista, canción">
    <meta name="description" content="Music on cloud es una plataforma el cual le permite a cualquier usuario distribuir, cooperar y/o promover bocetos musicales propios. Teniendo como prioridad su libre distribución y reproducción de estos mismos vía streming.">
    <meta name="author" content="Music on cloud">
    <link rel="icon" href="{% static "img/icon.ico" %}">
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "font-awesome-4.7.0/css/font-awesome.min.css" %}" rel="stylesheet">

    <link href="{% static "css/starter-template.css" %}" rel="stylesheet">
    <link href="{% static "css/media_player.css" %}" rel="stylesheet">
    <link href="{% static "css/slider.css" %}" rel="stylesheet">
    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>

    <script src="{% static "js/pops.js" %}"></script>
    <script src="{% static "js/media_player.js" %}"></script>
    <title>{% block title %}Music on Cloud{% endblock %}</title>
</head>

<body>

    {% with request.resolver_match.url_name as url_name %}
    <nav class="navbar navbar-inverse navbar-fixed-top navbar-" >
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar" style="background-color: #fff;"></span>
            <span class="icon-bar" style="background-color: #fff;"></span>
            <span class="icon-bar" style="background-color: #fff;"></span>
          </button>
          <img style="max-width:60px; margin-top: 8px; margin-bottom: 0px; margin-right: 10px; margin-left: 15px" src="{% static "img/logo.png" %}" data-toggle="tooltip" title="Hecho con todo el amor del mundo :)" data-placement="bottom">
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="{% if url_name == 'user' %}active{% endif %}"><a href="{% url 'UComment:user' username %}"><span class="glyphicon glyphicon-user" aria-hidden="true" style="font-size: 25px;" data-toggle="tooltip" title="Perfil" data-placement="bottom"></span></a></li>
            <li class="{% if url_name == 'index' or url_name == 'detail' or url_name == 'create_song' %}active{% endif %}"><a href="{% url 'music:index' %}"><span class="glyphicon glyphicon-music" aria-hidden="true" style="font-size: 25px;" data-toggle="tooltip" title="Música" data-placement="bottom"></span></a></li>
            <li class="{% if url_name == 'album-add' %}active{% endif %}"><a href="{% url 'music:album-add' %}"><span class="glyphicon glyphicon-upload" aria-hidden="true" style="font-size: 25px;" data-toggle="tooltip" title="Subir música" data-placement="bottom"></span></a></li>

			<div style="display: inline; float: left;">
		        <form class="navbar-form" role="search" method="get" action="{% url 'music:index' %}">
		        <div class="input-group">
		            <input type="text" class="form-control" placeholder="Buscar" style="background-color: transparent; height: 40px; color: #fff;" name="q" value="{{ request.GET.q }}">
		            <div class="input-group-btn">
		                <button class="btn btn-default" type="submit" style="background-color: transparent;"><i class="glyphicon glyphicon-search" style="color: #fff; font-size: 21px;"></i></button>
		            </div>
		        </div>
		        </form>
		    </div>

          </ul>
          <ul class="nav navbar-nav navbar-right">
              <li class="{% if url_name == 'config' %}active{% endif %}"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-cog" style="font-size: 25px;" data-toggle="tooltip" title="Configurar" data-placement="bottom"></span></a>
                <ul class="dropdown-menu">
                  <li class="dropdown-header">Cuenta</li>
                    <li><a href="{% url 'music:config' %}">Información</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="{% url 'auth_logout' %}">Cerrar sesión</a></li>
                  </ul>
              </li>
            </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    {% endwith %}

    <br></br>



{% block content %}

{% endblock %}

    <footer class="footer-distributed">
      <div class="container">

      <span class="footer-left" style="float: left;">
      	<button id="album_info" data-html="true" class="btn btn-link" data-container="body" data-toggle="popover" data-trigger="focus" data-placement="top" data-content="">
          <img id="album_footer" src="{% static "img/album.png" %}" class="img-responsive img-thumbnail" alt="Demon days" style="width:70px; height: 70px;"></button>
	  </span>

          <center>
	          <!--BOTÓN DEMO-->
	          <button id="backwardBtn" class="btn btn-link" data-container="body" data-toggle="tooltip" title="anterior" data-placement="top"
	          onclick="" aria-hidden="true"><span id="" class="glyphicon glyphicon-step-backward"></span></button>

	          <button id="media_button" class="btn btn-link" data-container="body" data-toggle="tooltip" title="reproducir" data-placement="top"
	          onclick="mediaFunctionsPlus()" aria-hidden="true"><span id="playButton" class="glyphicon glyphicon-play"></span></button>

	          <!--BOTÓN DEMO-->
	          <button id="forwardBtn" class="btn btn-link" data-container="body" data-toggle="tooltip" title="siguiente" data-placement="top"
	          onclick="" aria-hidden="true"><span id="" class="glyphicon glyphicon-step-forward"></span></button>

	          <button id='vol_btn' class="btn btn-link" data-container="body" data-placement="top" aria-hidden="true" onclick="getVol()">
	          	<span id="volume_button" class="glyphicon glyphicon-volume-up"></span>
	          </button>
			  <span id="vol_popover" style="display: none;"><input id='slider_vol' type='range' min='0' max='10' step='1' value='' style='width: 100px; transform: rotate(270deg); padding-top: 50px; padding-bottom: 50px;' onchange='vol(this.value);'></input></span>

        		<br>
		      <span id="tracktime" style="font-size: 14px;">00:00</span>
		      	<span><input id="slider_time" type="range" min="0" max="0" step="1" value="0"></input></span>
		      <span id="tracktimeOrigin" style="font-size: 14px;">00:00</span>
	      </center>

      </div>
    </footer>
</body>

</html>
