  <!DOCTYPE html>
{% load staticfiles %}
<html lang="es">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Music on cloud, streaming, online, cloud, música, nube, escuchar, reproducir, digital, álbum, artista, canción">
    <meta name="description" content="Music on cloud es una plataforma el cual le permite a cualquier usuario distribuir, cooperar y/o promover bocetos musicales propios. Teniendo como prioridad su libre distribución y reproducción de estos mismos vía streming.">
    <meta name="author" content="Music on cloud">
    <link rel="icon" href="{% static "img/icon.ico" %}">

    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "font-awesome-4.7.0/css/font-awesome.min.css" %}" rel="stylesheet">
    <link href="{% static 'css/sign.css'%}" rel="stylesheet">

    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static 'js/pops.js'%}"></script>

    <title>Regístrate</title>

  </head>

  <body>

  <center>
      <br><br><br>

  </center>
  
{% block content %}

{% endblock %}


  <!--https://www.pexels.com/photo/red-office-yellow-school-40799/-->
  <footer class="footer-distributed" style="position: absolute; top: 0; width: 100%; background: url({% static 'img/colors.jpeg'%}) no-repeat center center fixed; opacity: .8;">
      <div class="container" >
      <center>
        <img style="max-width:90px; margin-bottom: 5px; margin-top: 5px;" src="{% static 'img/logo.png'%}">
        <br>
      </center>
      </div>
    </footer>


  </body>
</html>
