{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Music on cloud, streaming, online, cloud, música, nube, escuchar, reproducir, digital, álbum, artista, canción">
    <meta name="description" content="Music on cloud es una plataforma el cual le permite a cualquier usuario distribuir, cooperar y/o promover bocetos musicales propios. Teniendo como prioridad su libre distribución y reproducción de estos mismos vía streming.">
    <meta name="author" content="Music on cloud">
    <link rel="icon" href="{% static "img/icon.ico" %}">

    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "font-awesome-4.7.0/css/font-awesome.min.css" %}" rel="stylesheet">
    <link href="{% static 'css/sign.css' %}" rel="stylesheet">

    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static 'js/pops.js' %}"></script>

    <title>Ayuda</title>

  </head>

  <body>

  <br><br>

<div class="container" style="margin-bottom: 10px;">
<div class="col-md-9">
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          ¿Qué es <b>Music on cloud</b>?
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
      <b>Music on cloud</b> es una plataforma donde el usuario puede distribuir y promocionar sus proyectos musicales de forma gratuita e ilimitada mediante una suscripción.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          ¿Qué licencia adquiere <b>mi material</b> al ser subido?
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        El contenido subido a la plataforma adquiere automáticamente una licencia <i><b>Creative Commons</b></i>, con el fin de proteger los proyectos musicales de todos los usuarios.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          ¿Cuáles son las <b>ventajas</b> de usar este servicio?
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        Actualmente existen muchas plataformas que ofrecen música. Lamentablemente todas ellas son privativas, ¿Qué quiere decir? que todo el contenido que se sube a las plataformas deben estar afiliados a una disquera, que desafortunadamente tiene una comisión muy alta y adquieren todos los derechos de los proyectos, limitando así la libre distribución y dejando la industria musical sólo para unos cuantos.<br>
        Además de que tales plataformas no son de código abierto y además de ser necesaria una suscripción mensual o anual para su uso.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFour">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          ¿Es necesario estar afiliado a una <b>disquera</b>?
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
      <div class="panel-body">
        No.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFive">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          ¿Por qué son tan <b>guapos</b>?
        </a>
      </h4>
    </div>
    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
      <div class="panel-body">
        Porque así nacimos.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFive">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
          ¿Por qué el contenido esta en <b>español</b>?
        </a>
      </h4>
    </div>
    <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
      <div class="panel-body">
        El contenido de esta página se encuentra en español ya que quisimos tener impacto primeramente en México y América latina.
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingSix">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
          ¿Puedo subir cualquier contenido?
        </a>
      </h4>
    </div>
    <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
      <div class="panel-body">
        Lametablemente no.<br>Una vez subido tu nuevo álbum, éste será analizado para comprobar que no este sujeto a derechos de autor. En caso que de que no contenga, será público y podrás comenzar a adjuntar las canciones a este mismo.<br>En caso de que estas canciones estén sujetas a derechos de autor, procederemos inmediatamente a borrar el contenido de tu perfil sin aviso previo.
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingSeven">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
          ¿En qué casos se daría de baja mi cuenta?
        </a>
      </h4>
    </div>
    <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
      <div class="panel-body">
        Si se llega a sumar el total de tres reportes por violación a derechos de autor, o cualquier otro uso indebido de esta plataforma.
      </div>
    </div>
  </div>

</div>
</div>
</div>



  <!--https://www.pexels.com/photo/red-office-yellow-school-40799/-->
  <footer class="footer-distributed" style="position: absolute; top: 0; width: 100%; background: url({% static 'img/colors.jpeg' %}) no-repeat center center fixed; opacity: .8;">
      <div class="container" >
      <center>
        <img style="max-width:90px; margin-bottom: 5px; margin-top: 5px;" src="{% static 'img/logo.png' %}">
        <br>
      </center>
      </div>
    </footer>


  </body>
</html>
