{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Music on cloud, streaming, online, cloud, música, nube, escuchar, reproducir, digital, álbum, artista, canción">
    <meta name="description" content="Music on cloud es una plataforma el cual le permite a cualquier usuario distribuir, cooperar y/o promover bocetos musicales propios. Teniendo como prioridad su libre distribución y reproducción de estos mismos vía streming.">
    <meta name="author" content="Music on cloud">
    <link rel="icon" href="{% static "img/icon.ico" %}">

    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "font-awesome-4.7.0/css/font-awesome.min.css" %}" rel="stylesheet">
    <link href="{% static 'css/sign.css'%}" rel="stylesheet">

    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static 'js/pops.js'%}"></script>

    <title>Licencia</title>

  </head>

  <body>

  <br><br>

  <div class="container" style="margin-bottom: 10px;">
  	<h3><b>Licencia MIT <b class="text-muted">(Código)</b></b></h3>
  		<blockquote>
	  	<p>
	  		Copyright (c) 2017 José Ernesto Ruíz Valdivia, Álvaro Azael Rodríguez Rodríguez.<br><br>
	  		Se concede permiso, de forma gratuita, a cualquier persona que obtenga una copia de este software y de los archivos de documentación asociados (el "Software"), para utilizar el Software sin restricción, incluyendo sin limitación los derechos a usar, copiar, modificar, fusionar, publicar, distribuir, sublicenciar, y/o vender copias del Software, y a permitir a las personas a las que se les proporcione el Software a hacer lo mismo, sujeto a las siguientes condiciones:<br><br>
	  		El aviso de copyright anterior y este aviso de permiso se incluirán en todas las copias o partes sustanciales del Software.<br><br>
			EL SOFTWARE SE PROPORCIONA "TAL CUAL", SIN GARANTÍA DE NINGÚN TIPO, EXPRESA O IMPLÍCITA, INCLUYENDO PERO NO LIMITADO A GARANTÍAS DE COMERCIALIZACIÓN, IDONEIDAD PARA UN PROPÓSITO PARTICULAR Y NO INFRACCIÓN. EN NINGÚN CASO LOS AUTORES O TITULARES DEL COPYRIGHT SERÁN RESPONSABLES DE NINGUNA RECLAMACIÓN, DAÑOS U OTRAS RESPONSABILIDADES, YA SEA EN UNA ACCIÓN DE CONTRATO, AGRAVIO O CUALQUIER OTRO MOTIVO, QUE SURJA DE O EN CONEXIÓN CON EL SOFTWARE O EL USO U OTRO TIPO DE ACCIONES EN EL SOFTWARE.
	  	</p>
	  	<a href="https://opensource.org/licenses/MIT">The MIT License. (2017, Junio). Obtenido de Open Source Initiative.</a>
	  	</blockquote>
	  	<h3><b>Reconocimiento-NoComercial-SinObraDerivada 4.0 Internacional <b class="text-muted">(Logo)</b></b></h3>
  		<blockquote>
	  	<p>
	  		Usted es libre para:<blockquote  style="border-left: none;">
			<b>Compartir</b> — copiar y redistribuir el material en cualquier medio o formato.<br><br>
			El licenciante no puede revocar estas libertades en tanto usted siga los términos de la licencia.
			</blockquote>
			Bajo los siguientes términos:<blockquote  style="border-left: none;">
			<b>Atribución</b> — Usted debe darle crédito a esta obra de manera adecuada, proporcionando un enlace a la licencia, e indicando si se han realizado cambios. Puede hacerlo en cualquier forma razonable, pero no de forma tal que sugiera que usted o su uso tienen el apoyo del licenciante.<br>
			<b>NoComercial</b> — Usted no puede hacer uso del material con fines comerciales.<br>
			<b>Sin Derivar</b> — Si usted mezcla, transforma o crea nuevo material a partir de esta obra, usted no podrá distribuir el material modificado.<br><br>
			No hay restricciones adicionales — Usted no puede aplicar términos legales ni medidas tecnológicas que restrinjan legalmente a otros hacer cualquier uso permitido por la licencia.
			</blockquote>
	  	</p>
	  	<a href="{% static "img/logo.png" %}">Logo</a><br><br>
	  	<a href="https://creativecommons.org/licenses/by-nc-nd/4.0/deed.es">Atribución-NoComercial-SinDerivar 4.0 Internacional (CC BY-NC-ND 4.0) (2017, Junio). Creative Commons.</a>
	  	</blockquote>
	  	<h3><b>Dedicación de Dominio Público <b class="text-muted">(Imágenes)</b></b></h3>
  		<blockquote>
	  	<p>	
	  		<b>Sin derechos de autor</b><blockquote  style="border-left: none;">
	  		La persona que asoció una obra con este resumen ha dedicado la obra al dominio público, mediante la renuncia a todos sus derechos patrimoniales de autor sobre la obra en todo el mundo, incluyendo todos los derechos conexos y afines, en la medida permitida por la ley.<br>
			Puedes copiar, modificar, distribuir la obra y hacer comunicación pública de ella, incluso para fines comerciales, sin pedir permiso.
			</blockquote>
	  	</p>
	  	<a href="https://www.pexels.com/photo/man-playing-a-keyboard-with-a-tablet-attached-on-a-stage-115125/">Imagen 1</a><br>
	  	<a href="https://www.pexels.com/photo/red-office-yellow-school-40799/">Imagen 2</a><br><br>
	  	<a href="https://creativecommons.org/publicdomain/zero/1.0/deed.es">CC0 1.0 Universal (CC0 1.0), Dedicación de Dominio Público. (2017, Junio). Creative Commons.</a>
	  	</blockquote>
	  	<h3><b>Attribution-NonCommercial-ShareAlike 4.0 International <b class="text-muted">(Contenido por usuarios)</b></b></h3>
  		<blockquote>
	  	<p>	
	  		Usted es libre para:<blockquote  style="border-left: none;">
			<b>Compartir</b> — copiar y redistribuir el material en cualquier medio o formato.<br>
			<b>Adaptar</b> — remixar, transformar y construir sobre el material.<br><br>
			El licenciante no puede revocar estas libertades siempre y cuando siga los términos de la licencia.
			</blockquote>
	  	</p>
	  	<a href="https://creativecommons.org/publicdomain/zero/1.0/deed.es">Attribution-NonCommercial-ShareAlike 4.0 International (CC BY-NC-SA 4.0). (2017, Junio). Creative Commons.</a>
	  	</blockquote>
  </div>

  <footer class="footer-distributed" style="position: absolute; top: 0; width: 100%; background: url({% static 'img/colors.jpeg'%}) no-repeat center center fixed; opacity: .8;">
      <div class="container" >
      <center>
        <img style="max-width:90px; margin-bottom: 5px; margin-top: 5px;" src="{% static 'img/logo.png'%}">
        <br>
      </center>
      </div>
    </footer>


  </body>
</html>
