{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Music on cloud, streaming, online, cloud, música, nube, escuchar, reproducir, digital, álbum, artista, canción">
    <meta name="description" content="Music on cloud es una plataforma el cual le permite a cualquier usuario distribuir, cooperar y/o promover bocetos musicales propios. Teniendo como prioridad su libre distribución y reproducción de estos mismos vía streming.">
    <meta name="author" content="Music on cloud">
    <link rel="icon" href="{% static "img/icon.ico" %}">

    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "font-awesome-4.7.0/css/font-awesome.min.css" %}" rel="stylesheet">
    <link href="{% static 'css/sign.css'%}" rel="stylesheet">

    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static 'js/pops.js'%}"></script>

    <title>Políticas de privacidad</title>

  </head>

  <body>

  <br><br>

  <div class="container" style="margin-bottom: 10px;">
  	<h3><b>Políticas de privacidad</b></h3>
  	<hr>
  	<h4><b>¿Qué información recolectamos?</b></h4>
  		<blockquote>
	  	<p>
	  		La información que colectamos de ti cuando te registas en nuestro sitio y obtenemos data cuando tu participas
			en la comunidad leyendo, escribiendo, y evaluando contenido compartido aquí.<br>

			Cuando te registras en nuestro sitio, tal vez te preguntemos que introduzcas tu nombre y tu cuenta de correo electrónico.
			Tu cuenta de e-mail puede ser verificada por un correo que contiene un link único, si ese link es visitado
			sabremos que tú controlas la cuenta de e-mail que nos otorgaste.<br>

			Cuando te registras e interactuas en la pagina guardamos la IP address de donde fue originada la interaccion.
			Tambien podemos conserver los logs del server que incluye cada una de las IP address de los 'request' en nuestro server.<br>
	  	</p>
	  	</blockquote>
	<h4><b>¿Para qué utilizamos tu información?</b></h4>
  		<blockquote>
	  	<p>
	  		Cualquier informacion que recolectamos de ti tal vez sea usada en una de las siguientes maneras:<br>
				● Para personalizar tu experencia - tu información nos ayuda a darle mejor respuestas a tus necesidades individuales.<br>
				● Para mejorar nuestro sitio - continuamente estamos mejorando nuestro sitio basandonos en tu feedback.<br>
				● Para mejorar nuestros servicios - tu informacion nos ayuda para poder ofrecer un mejor servicio y necesidades de nuestros servidores.<br>
				● Para enviarte e-mails periódicos - La cuenta de email que nos proporcionas tal vez sea utilizada para enviarte información, notificaciones acercade cambios e interacciones con su usuario y tu contenido compartido con la comunidad.<br>
	  	</p>
	  	</blockquote>
	<h4><b>¿Cómo protegemos tu información?</b></h4>
  		<blockquote>
	  	<p>
	  		Nosotros implementamos una variedad de medidas de seguridad para mantener a salvo tu información personal cuando entras, subes, o accedes a tu información personal.<br>
	  	</p>
	  	</blockquote>
	<h4><b>¿Cúal es nuestra política de retención de datos?</b></h4>
  		<blockquote>
	  	<p>
	  		Hacemos un gran esfuerzo en:<br>
			● Retenemos los logs del servidor que contienen todas las IP address de todas las peticiones en el servidor en un plazo no mayor a 90 dias.<br>
			● Retenemos las IP address asociadas con  usuarios registrados y sus post en un plazo no mayor a 5 años.<br>
	  	</p>
	  	</blockquote>
	<h4><b>¿Usamos cookies?</b></h4>
  		<blockquote>
	  	<p>
	  		NO.<br>
	  	</p>
	  	</blockquote>
	<h4><b>¿Revelamos alguna información a terceros?</b></h4>
  		<blockquote>
	  	<p>
	  		No vendemos, comerciamos, o compartimos información indentificable personal. Esto no incluye terceros confiables
			que nos asisten con sus servicios para la operación de nuestro sitio, siempre y cuando estos terceros esten
			deacuerdo de mantener esta información confidencial. También  nosotros revelaremos tu información cuando sea
			necesario para cumplir con la ley, para reforzar la validez de nuestras políticas, o protejer nuestros derechos,
			o seguridad. Para usuarios no identificados, su información como visitantes tal vez sea utilizada con terceros
			en concepto de marketing, advertising u otros usos.<br>
	  	</p>
	  	</blockquote>
	<h4><b>Children's Online Privacy Protection Act Compliance</b></h4>
  		<blockquote>
	  	<p>
	  		Our site, products and services are all directed to people who are at least 13 years old. <br>
			If this server is in the USA, and you are under the age of 13,
			per the requirements of COPPA (Children's Online Privacy Protection Act), do not use this site.<br>
	  	</p>
	  	</blockquote>
	<h4><b>Políticas de Privacidad Online</b></h4>
  		<blockquote>
	  	<p>
	  		Estas políticas de privacidad sólo aplican para información recolectada a travez de nuestro sitio y no a información
			recolectada offline.<br>
	  	</p>
	  	</blockquote>
	<h4><b>Tu concentimiento</b></h4>
  		<blockquote>
	  	<p>
	  		Por el uso de nuestro sitio, tu consientes el uso de nuestras políticas de privacidad.<br>
	  	</p>
	  	</blockquote>
	<h4><b>Cambios de nuestras políticas</b></h4>
  		<blockquote>
	  	<p>
	  		Si decidimos cambiar nuestras politicas de privacidad, postearemos estos cambios en esta pagina.<br>
			Este documento es CC-By-SA, con su ultima actualizacion en abril 23, 2017.
	  	</p>
	  	</blockquote>
  </div>



  <!--https://www.pexels.com/photo/red-office-yellow-school-40799/-->
  <footer class="footer-distributed" style="position: absolute; top: 0; width: 100%; background: url({% static 'img/colors.jpeg'%}) no-repeat center center fixed; opacity: .8;">
      <div class="container" >
      <center>
        <img style="max-width:90px; margin-bottom: 5px; margin-top: 5px;" src="{% static 'img/logo.png'%}">
        <br>
      </center>
      </div>
    </footer>


  </body>
</html>
